{% extends 'base.html' %}

{% block content %}
    <div class="jumbotron">
        <img src="http://tischlerei-weissenbacher.at/img/responsive_web_design.png">
        <h1>Please put some text here.</h1>
        <p class="lead">If you want, you can add some text here as well. Or not.</p>
        <a class="btn btn-large btn-success" href="contact">Contact us today to get started</a>
        <br/>
        <br/>
        <br/>
        <a href="https://twitter.com/RealPython" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @RealPython</a>
        
        <script>
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.g 'script', 'twitter-wjs');
        </script>
        &nbsp;&nbsp;&nbsp;&nbsp;
        
        <a href="https://twitter.com/intent/tweet?screen_name=RealPython" class="twitter-mention-button" data-size="large">Send us a Tweet to @RealPython</a>
        <script>
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.g 'script', 'twitter-wjs');
        </script>
        &nbsp;&nbsp;&nbsp;&nbsp;
        
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.realpython.com" data-text="Django for the Non-Programmer #realpython -" data-size="large">Share!</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.g 'script', 'twitter-wjs');
        </script>
    </div>
    
<hr>
    
<div class="row-fluid marketing">
    <div class="span6">
        <h3>(1) One</h3>
        <p>Bacon ipsum dolor sit amet pig beef prosciutto shoulder, cow brisket kielbasa. Frankfurter landjaeger biltong brisket spare ribs turducken kielbasa hamburger pastrami flank andouille leberkas turkey beef drumstick. Sirloin jowl ham, short ribs rump boudin bresaola jerky. Hamburger sirloin jerky, cow tail corned beef shoulder pork loin meatloaf rump ham hock. Tri-tip tail kielbasa shank drumstick pork belly fatback doner jerky venison frankfurter ball tip flank. Venison kielbasa pork belly fatback strip steak tri-tip.</p>
        
        <h3>(2) Two</h3>
        <p>Kevin ground round tail pork loin jowl, fatback bacon short loin. Tenderloin shank turkey, venison ham hock biltong frankfurter pork loin t-bone. Beef pastrami landjaeger leberkas ground round shank tail. T-bone short loin filet mignon, beef ribs tail prosciutto chuck rump meatball spare ribs leberkas.</p>
        
        <h3>(3) Three</h3>
        <p>Swine short loin shoulder shank boudin pastrami brisket. Doner chuck leberkas pork loin sirloin prosciutto venison turducken bacon biltong frankfurter meatloaf spare ribs. Boudin ball tip meatball hamburger pork filet mignon brisket jowl venison chuck andouille pig tongue pastrami. Pastrami landjaeger frankfurter, fatback bacon prosciutto ball tip sirloin porchetta boudin. Landjaeger turducken tail, beef tongue ribeye ball tip ground round pork loin bacon jerky pig sausage.</p>
        
        <p>Tail shankle hamburger, corned beef andouille sausage short ribs pork belly strip steak rump. Bacon pork belly leberkas venison. Bresaola short loin pancetta turkey turducken landjaeger ball tip corned beef meatloaf porchetta meatball ham chicken jerky kielbasa. Venison drumstick beef ribs tongue frankfurter, pork chop pig boudin jerky. Ball tip flank cow, pastrami tongue leberkas fatback turducken porchetta venison short loin. Ribeye salami porchetta beef ribs, bresaola hamburger drumstick ham hock flank pork belly pastrami tenderloin. Bacon doner corned beef drumstick fatback tenderloin pastrami short loin meatloaf ribeye andouille.</p>
    </div>
    
    <div class="span6">
        <h3>(4) Four</h3>
        <p>Bacon ipsum dolor sit amet pig beef prosciutto shoulder, cow brisket kielbasa. Frankfurter landjaeger biltong brisket spare ribs turducken kielbasa hamburger pastrami flank andouille leberkas turkey beef drumstick. Sirloin jowl ham, short ribs rump boudin bresaola jerky. Hamburger sirloin jerky, cow tail corned beef shoulder pork loin meatloaf rump ham hock. Tri-tip tail kielbasa shank drumstick pork belly fatback doner jerky venison frankfurter ball tip flank. Venison kielbasa pork belly fatback strip steak tri-tip.</p>
        
        <h3>(5) Five</h3>
        <p>Kevin ground round tail pork loin jowl, fatback bacon short loin. Tenderloin shank turkey, venison ham hock biltong frankfurter pork loin t-bone. Beef pastrami landjaeger leberkas ground round shank tail. T-bone short loin filet mignon, beef ribs tail prosciutto chuck rump meatball spare ribs leberkas.</p>
        
        <p>Tail shankle hamburger, corned beef andouille sausage short ribs pork belly strip steak rump. Bacon pork belly leberkas venison. Bresaola short loin pancetta turkey turducken landjaeger ball tip corned beef meatloaf porchetta meatball ham chicken jerky kielbasa. Venison drumstick beef ribs tongue frankfurter, pork chop pig boudin jerky. Ball tip flank cow, pastrami tongue leberkas fatback turducken porchetta venison short loin. Ribeye salami porchetta beef ribs, bresaola hamburger drumstick ham hock flank pork belly pastrami tenderloin. Bacon doner corned beef drumstick fatback tenderloin pastrami short loin meatloaf ribeye andouille.</p>
        
        <h3>(6) Six</h3>
        <p>Swine short loin shoulder shank boudin pastrami brisket. Doner chuck leberkas pork loin sirloin prosciutto venison turducken bacon biltong frankfurter meatloaf spare ribs. Boudin ball tip meatball hamburger pork filet mignon brisket jowl venison chuck andouille pig tongue pastrami. Pastrami landjaeger frankfurter, fatback bacon prosciutto ball tip sirloin porchetta boudin. Landjaeger turducken tail, beef tongue ribeye ball tip ground round pork loin bacon jerky pig sausage.</p>
        
        
    </div>
</div>
    
{% endblock %}